<%- include("partials/header") %>
<body class="col">
    <% if (user) { %>
        <a href="/dashboard" class="dashboard-link centered">Back to dashboard</a>
    <% } %>
    <!---------- EVENT DETAILS ---------->
    <div class="event-details">
        <h1 class="event-name"><%= potluck.name%></h1> 
        <h2><%= potluck.date%></h2> 
        <h2><%= potluck.time%></h2>
        <h2><%= potluck.location%></h2>
    </div>
    
    <!---------- UPDATE EVENT DETAILS ---------->

    <button class="btn btn-open-details">Update your event details</button> 
    
     <!-- Errors flash if someone besides event creator tries to update event details -->
     <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>

    <section class="details-modal hidden">
        <button class="btn-close-details">X</button>
       
        <form action="/event/updateName/<%= potluck._id%>?_method=PUT" method="POST">
            <input type="text" name="eventName" id="eventName" placeholder="Event Name">
            <input type="submit" value="Update">
        </form>
            
        <form action="/event/updateDate/<%= potluck._id%>?_method=PUT" method="POST">
            <input type="text" name="eventDate" id="eventDate" placeholder="Weekday Month Date">
            <input type="submit" value="Update">
        </form>
    
        <form action="/event/updateTime/<%= potluck._id%>?_method=PUT" method="POST">
            <input type="text" name="eventTime" id="eventTime" placeholder="Time">
            <input type="submit" value="Update">
        </form>
    
        <form action="/event/updateLocation/<%= potluck._id%>?_method=PUT" method="POST">
            <input type="text" name="eventLocation" id="eventLocation" placeholder="Location">
            <input type="submit" value="Update">
        </form>
    </section>

    <!---------- REQUESTS ---------->
    <section class="requests col">
        <h2>Requests:</h2>

        <ul>
            <% requests.forEach( el => { %>
                <li class='request' data-id='<%=el._id%>'>
                    <!-- Shows if item is incomplete-->
                    <form action="/event/markComplete/<%= el._id %>/<%= potluck._id %>?_method=PUT" method="POST" class='<%= el.completed === true ? 'hidden' : '' %>'>
                        <button class='<%= el.completed === true ? 'completed' : 'not noStyleBtn' %>'><%= el.item %> <%= el.dietaryRestrictions %></button>
                    </form>
                    <!-- Shows if item is complete-->
                    <form action="/event/markIncomplete/<%= el._id %>/<%= potluck._id %>?_method=PUT" method="POST" class='<%= el.completed === true ? '' : 'hidden' %>'>
                        <button class='<%= el.completed === true ? 'completed noStyleBtn' : 'not' %>'><%= el.item %> <%= el.dietaryRestrictions %></button>
                   </form>

                    <form action="/event/deleteRequest/<%= el._id %>/<%= potluck._id %>?_method=DELETE" method="POST" class="">
                        <button class="req del" type="submit">Delete</button>
                    </form> <!-- create modal to confirm deletion -->
                </li>
            <% }) %>    
        </ul>

        <% if (locals.messages.requestErrors) { %>
            <% messages.requestErrors.forEach( el => { %>
                <div class="alert"><%= el.msg %></div>
            <% }) %>    
        <% } %>
        <button class="btn btn-open-requests">Add a Request:</button> 
        <section class="requests-modal hidden">
            <button class="btn-close-requests">X</button>
            <form action="/event/createRequest/<%= potluck._id%>" method='POST' class="">
                <input type="text" placeholder="Request (dietary restrictions?)" name='requestItem'>
                <input type="submit" value="Submit">
            </form> 
        </section>
    </section>
    
    <!---------- ITEMS ---------->
    <section class="items col">
        <h2>What are ya bringin'?</h2>
        <p>If the item you're bringing is on the request list, please click the request item to mark it complete!</p>

        <ul>
            <% items.forEach( el => { %>
                <li class='todoItem' data-id='<%=el._id%>'>
                    <span class=''><%= el.item %></span>
                    
                    <span class='<%= el.dietaryRestrictions === '' ? 'hidden' : 'diet'%>'>Dietary Restrictions: <%= el.dietaryRestrictions%></span>

                    <span class='<%= el.person === '' ? 'hidden' : 'person'%>'>Who's bringin': <%= el.person %></span>

                    <p class='<%= el.notes === '' ? 'hidden' : 'notes'%>'>Additional Notes: <%= el.notes %></p>

                    <form action="/event/deleteItem/<%= el._id %>/<%= potluck._id %>?_method=DELETE" method="POST" class="">
                        <button class="del" type="submit">Delete</button>
                    </form> <!-- create modal to confirm deletion -->
                </li>
            <% }) %>    
        </ul>
        
        
        <% if (locals.messages.itemErrors) { %>
            <% messages.itemErrors.forEach( el => { %>
                <div class="alert"><%= el.msg %></div>
            <% }) %>    
        <% } %>
        <button class="btn btn-open-items">Add what you're bringin':</button> 
        <section class="items-modal hidden">
            <button class="btn-close-items">X</button>
            <form action="/event/createItem/<%= potluck._id%>" method='POST' class="">
                <input type="text" placeholder="Food/Beverage name" name='itemName'>
                <span>Optional:</span>
                <input type="text" name="dietaryRestrictions" id="dietaryRestrictions" placeholder="Dietary restrictions">
                <input type="text" name="personName" placeholder="Who's bringin' it?">
                <textarea name="extraNotes" id="notes" rows="3" cols="20" placeholder="Additional notes..."></textarea>
                <input type="submit" value="Submit">
            </form>
        </section>  
    
    </section>

    <div class="details-overlay hidden"></div>
    <div class="requests-overlay hidden"></div>
    <div class="items-overlay hidden"></div>

    <script src="/js/event.js"></script>
</body>
</html>